.bottom-md {
    bottom: -100px; /* Adjust this value as needed */
}

.popularplaces {
    margin-top: 80px;
}


@media (max-width: 768px) { /* Bootstrap's medium breakpoint */
    .bottom-md {
        bottom: -200px; /* Adjust this value as needed */
    }
    .popularplaces {
        margin-top: 130px; /* Adjust this value as needed */
    }
}
.oneitem {}
@media (max-width: 350px) {
    .oneitem {
        flex-basis: 100% !important;
    }
}

